In [11]:
#import mysql.connector
import pandas as pd
con = mysql.connector.connect(
    host='localhost',
    port=3306,
    user='root',
    password='datascientist',
    database='emp01')


df = pd.read_sql_query("select * from employee", con)
df 
df.head(5)

   empid     ename          emailid   did
0      1     Rahul     rahul@gg.com  1001
1      2  Sukhveer  sukhveer@gg.com  1002
2      3      Veer      veer@gg.com  1003
3      4     keten     ketan@gg.com  1004

In [23]:
df.sample(2)

   empid  ename       emailid   did
2      3   Veer   veer@gg.com  1003
0      1  Rahul  rahul@gg.com  1001

In [19]:
df.tail(1)

   empid  ename       emailid   did
3      4  keten  ketan@gg.com  1004